<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
         <rewrite>
            <rules>
                <clear />
                <!-- <rule name="forward root to blog" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^[/]{0,1}$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SERVER_PORT}" pattern="^(80|443)$" />
                    </conditions>
                    <action type="Redirect" url="https://fabse.net/blog/" redirectType="Found" />
                </rule> -->
                <rule name="remove www subdomain" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SERVER_PORT}" pattern="^(80|443)$" />
                        <add input="{HTTP_HOST}" pattern="^fabse\.net$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://fabse.net/{R:1}" />
                </rule>
                <rule name="Force HTTPS" enabled="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SERVER_PORT}" pattern="^(80)$" />
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>
            </rules>
			<outboundRules>
                <clear />
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
                    <conditions>
                        <add input="{SERVER_PORT}" pattern="^(80|443)$" />
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000; includeSubdomains; preload" />
                </rule>
            </outboundRules> 
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
    </system.webServer>
</configuration>
