.site-footer {
  border-top: 1px solid $grey-color-light;
  margin-top: 80px;
  padding: 30px 0;
  background-color: #313131;
  background: linear-gradient(to bottom, #fdfdfd 0%, #202020 1%, #313131 15%, #313131 92%, #363131 100%);

  color: rgb(255, 255, 255);
  display: grid;
  justify-content: center;
  align-content: start;
  grid-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, (900px / 4));

  @include media-query(1050px) {
    padding: 30px 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    h2 {
      grid-column: 1 / span 2;
      text-align: center;
    }
    ul {
      justify-self: center;
    }
    p {
      grid-column: 1 / span 2;
      text-align: center;
    }
  }

  a,
  a:visited {
    color: rgb(255, 255, 255);
  }

  h2 {
    @include relative-font-size(1.125);
    margin-bottom: 15px;
  }

  ul {
    list-style: none;
    margin-left: 0;
    li {
      line-height: 2;
    }
  }
  .icon {
    padding-right: 5px;
  }
  .icon--youtube path {
    fill: #ff4949;
  }
  .icon--twitter path {
    fill: #1da1f2;
  }
  .icon--rss path {
    fill: #f06e19;
  }
  .icon--mail path {
    fill: #ae3020;
  }
  .icon--person path {
    fill: #fff;
  }
  .icon--instagram path {
    fill: #fff;
  }
}
